---
layout: home # _layouts/home.html
---

{% assign cur_page = "Home" %}

{% include common/head.html %}
{% include common/menu.html %}

<div class="content-container">
    <div class="content">
      <div class="content-table flex-column">
        <!-------------------------------------------------------------------------------------------->
        <!--Start Intro-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <img class="image" src="/images/Yu-Cheng_Lin0.jpg" width="150" height="208">
          </div>
          <div class="flex-item flex-column">
            <p class="text text-large">
              <font size="+4">Yu-Cheng Lin</font><font size="+3"> </font><br>
              Email: linkingmon1997@gmail.com</a><br>
              Expertise: </a>
              VLSI Architecture, Signal Processing, Communication Systems </a> <br>
              Hobbies: Swimming, Reading, Movies</a>
            </p>
          </div>
        </div>
        <!-- <div class="flex-row">
          <div class="flex-item flex-column">
            <p class="text add-top-margin">
              He received his B.S. degree in Electrical Engineering from National Taiwan University, 
              Taiwan, in 2020. He is currently pursuing his M.S. degree at the Institute of 
              Electronics Engineering, National Taiwan University, Taiwan. His research interests are 
              signal processing and VLSI design for wireless baseband processing.
            </p>
          </div>
        </div> -->
        <!--End Intro-->
        <!-------------------------------------------------------------------------------------------->
        <!--Start Education-->
        
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel0"><h2 class="add-top-margin"><u>Education</u></h2></div>
            <div class="panel0">
              <table class="sortable">
                <thead>
                  <tr> <th>Degree</th> <th>Deparment, School</th> <th>Start Date</th> <th>End Date</th> </tr>
                </thead>
                <tbody>
                  <tr> <td>MS</td> <td>
                    <a href="http://cc.ee.ntu.edu.tw/~dcslab/index.html" target="_blank">NTU-DCSLab</a>,
                      <a href="https://giee.ntu.edu.tw/portal/" target="_blank">NTU-GIEE</a><br></td> <td>2020/9</td> <td>2022/12</td> </td>
                  <tr> <td>BS</td> <td></a>
                    <a href="https://web.ee.ntu.edu.tw/index.php" target="_blank">NTU-EE</a></td> <td>2016/9</td> <td>2020/8</td> </td>
              </tfoot>
            </table>
  
            </div>
          </div>
        </div>
        <!-------------------------------------------------------------------------------------------->
        <!--Start Research-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel1"><h2 class="add-top-margin"><u>In-School Research</u></h2></div>
            <div class="panel1">
              <table class="sortable">
                <thead>
                  <tr> <th>Start Date</th> <th>End Date</th> <th>Duration (y/m)</th> <th>Topic</th> <th>Link</th> </tr>
                </thead>
                <tbody>
                  <tr><td>2019/12</td><td>2021/12</td><td>1/10</td><td>High-throughput CI precoder</td><td><a href="https://github.com/linkingmon/CIP">code</a></td>
                  <tr><td>2019/12</td><td>2021/12</td><td>1/10</td><td>Simulation of CI-Iterative algorithm</td><td><a href="https://github.com/linkingmon/CI_precoding">code</a></td>
                  <tr><td>2021/12</td><td>2022/12</td><td>1/0</td><td>Reconfigurable Architectures</td><td><a href="https://github.com/linkingmon/BAP">code</a></td>
                  <tr><td>2020/12</td><td>2021/12</td><td>0/6</td><td>Low-power matrix inversion module design</td><td><a href="https://github.com/linkingmon/LPMIU">code</a></td>
                  <tr><td>2021/12</td><td>2021/12</td><td>0/4</td><td>AI-aided Baseband Algorithms</td><td></td>
                  <tr><td>2021/12</td><td>2021/12</td><td>0/3</td><td>Deep-Learning Aided ADCs</td><td><a href="https://github.com/linkingmon/Deep_ADC">code</a></td>
                  <tr><td>2021/12</td><td>2021/12</td><td>0/2</td><td>RF Calibration Algorithms</td><td><a href="https://github.com/linkingmon/RFC">code</a></td>
                  <tr><td>2019/12</td><td>2019/12</td><td>0/2</td><td>mmWave Hybrid Beamforming</td><td></td>
                  <tr><td>2019/12</td><td>2019/12</td><td>0/2</td><td>Individually-optimal Large-MIMO AMP Detector</td><td></td>
              </tfoot>
            </table>
  
            </div>
          </div>
        </div>
        <!--End Research-->
        <!-------------------------------------------------------------------------------------------->
        <!--Start Work experience-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel2"><h2 class="add-top-margin"><u>Work Experience</u></h2></div>
            <div class="panel2">
              <table class="sortable">
                <thead>
                  <tr> <th>Start Date</th> <th>End Date</th> <th>Duration (y/m)</th> <th>Position</th>  </tr>
                </thead>
                <tbody>
                  <tr><td>2023/2</td><td>Present</td><td>-</td><td>Senior RD Engineer @ Synopsys</td>
                    <tr><td>2022/9</td><td>2022/11</td><td>0/3</td><td>Power Modeling Architect (Intern) @ Google</td>
                  <tr><td>2020/12</td><td>2022/8</td><td>1/9</td><td> Digital IC Designer (Intern) @ <a href="https://tronfuture.com/">Tron Future Tech</td>
              </tfoot>
            </table>
            </div>
          </div>
        </div>
        <!--End experience-->
        <!-------------------------------------------------------------------------------------------->
        <!--Start Award-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel3"><h2 class="add-top-margin"><u>Award</u></h2></div>
            <div class="panel3">
              <table class="sortable">
                <thead>
                  <tr> <th>Year</th> <th>Prize</th> <th>Title</th> </tr>
                </thead>
                <tbody>
                  <tr><td>2022</td><td>Second Place</td><td>Cell Based IC Design Contest (Graduate)</td>
                  <tr><td>2021</td><td>Honorable Mention Award</td><td>Cell Based IC Design Contest (Graduate)</td>
                  <tr><td>2020</td><td>Second Place</td><td>Cell Based IC Design Contest (Undergraduate)</td>
                  <tr><td>2015</td><td>Third Price</td><td>High school student academic competence contest (Mathematics)</td>
                  <tr><td>2015</td><td>Honorable Mention Award</td><td>55th Senoir High School Science Fair (Mathematics)</td>
              </tfoot>
            </table>
            </div>
          </div>
        </div>
        <!--End Award-->
        <!-------------------------------------------------------------------------------------------->
        <!--Start Referred Journal and Magazine Papers-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel4"><h2 class="add-top-margin"><u>Referred Journal and Magazine Papers</u></h2></div>
            <div class="panel4">
              <table class="sortable">
                <thead>
                  <tr> <th>Author</th> <th>Publish</th> <th>Year</th> <th>Title</th> <th>Link</th> </tr>
                </thead>
                <tbody>
                  <tr><td>Y.-Y. Hsieh, <b><u>Y.-C. Lin</u></b>, and C.-H. Yang</td><td>JSSC</td><td>2023</td><td>A 96.2nJ/class Neural Signal Processor with Adaptable Intelligence for Seizure Prediction</td><td><a href="https://ieeexplore.ieee.org/document/9941187">paper</a></td>
              </tfoot>
            </table>
            </div>
          </div>
        </div>
        <!--End Referred Journal and Magazine Papers-->
        <!-------------------------------------------------------------------------------------------->
        <!--Start Referred Conference Papers-->
        <div class="flex-row">
          <div class="flex-item flex-column">
            <div class="flip" data-panel="panel5"><h2 class="add-top-margin"><u>Referred Conference Papers</u></h2></div>
            <div class="panel5">
              <table class="sortable">
                <thead>
                  <tr> <th>Author</th> <th>Publish</th> <th>Year</th> <th>Title</th> <th>Link</th> </tr>
                </thead>
                <tbody>
                  <tr><td><b><u>Y.-C. Lin</u></b>, R.-H. Chiou, and C.-H. Yang</td>
                      <td>TVLSI</td><td>2024</td>
                      <td>A High-Throughput Constructive Interference Precoder for 16×16 MU-MIMO Systems</td>
                      <td><a href="https://ieeexplore.ieee.org/document/10596322">paper</a></td>
                  <tr><td><b><u>Y.-C. Lin</u></b>, R.-H. Chiou, Y.-C. Lin, and C.-H. Yang</td>
                      <td>VLSI TSA</td><td>2024</td>
                      <td>A 919GMACs/J Reconfigurable SIMD Array Processor for Baseband Signal Processing</td>
                  <tr><td>Y.-Y. Hsieh, <b><u>Y.-C. Lin</u></b>, and C.-H. Yang</td>
                      <td>ISSCC</td><td>2022</td>
                      <td> A 96.2nJ/class Neural Signal Processor with Adaptable Intelligence for Seizure Prediction</td>
                      <td><a href="https://ieeexplore.ieee.org/document/9731759">paper</a></td>
                  <tr><td><b><u>Y.-C. Lin</u></b>, Y.-C. Lee, W.-C. Tsai, W.-K. Beh, A.-Y. A. Wu</td>
                      <td>CinC</td><td>2020</td>
                      <td> Explainable Deep Neural Network for Identifying Cardiac Abnormalities Using Class Activation Map</td>
                      <td><a href="https://ieeexplore.ieee.org/document/9344377">paper</a></td>
              </tfoot>
            </table>
            </div>
          </div>
        </div>
        <!--End Referred Conference Papers-->
      </div>
    </div>
  </div>
  </body>
  